.map {
  min-height: 500px;
  height: 100vh!important;
  min-width: 50vw!important;

  & + div {
    height: 100%;
  }
}

body {
  margin: 0;
}

.app-desktop {
  max-height: calc(100vh - 170px);
  & > .MuiStack-root {
    overflow: auto;
    padding: 2rem;
  }
}

.wrapper-icon-outer {
  position: relative;
  z-index: -1;
  top: -5px;
  left: -5px;

  padding: 20px;
  background-color: rgb(26, 30, 35);
  border-radius: 50%;
}

.cluster-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: rgb(26, 30, 35);
  border: 2px solid rgb(71, 137, 235);
  border-radius: 50%;
}


.cluster-text {
  font-family: sans-serif;
  font-size: 16px;
  color: #ffffff;
}
