.map {
  height: 500px;
}

body {
  margin: 0;
}

.cluster-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;

  background-color: rgb(26, 30, 35);
  border: 2px solid rgb(71, 137, 235);
  border-radius: 50%;
}


.cluster-text {
  font-family: sans-serif;
  font-size: 16px;
  color: #ffffff;
}
