.char {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 1rem;
  height: 250px;
  flex: 1;
  background-color: var(--vt-c-white-mute);
  margin-right: 0.5rem;
}

.char,
.char-cont {
  border-radius: 12px;
}

.char-count {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 300;
  padding-bottom: 0.4rem;
}

.char-note {
    transform: translateY(100%);
    text-align: center;
}


.char:last-child {
  margin-right: 0;
}

.office-chars {
  display: flex;
}
